<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="name" default="biorobo"/>
  <node name="cloudPublisher" pkg="pcl_ros" type="pcd_to_pointcloud" args="$(find space_quantization)/cloud/$(arg name).pcd " output="screen">
    <remap from="cloud_pcd" to="/hsrb/cloud"/>
    <param name="frame_id" value="base_link" type="str"/>
  </node>

</launch>
