<launch>
  <!--Publish a pcd as pointcloud and run clustering node, must provide tf-->
  <arg name="name" default="bioroboticaV"/>
  <arg name="crop" default="-23.0"/>
  <arg name="freeSpace" default="0.10"/>

  <node name="preprocessor" pkg="space_quantization" type="cloud_preprocessor" output="screen">
    <remap from="/cloud" to="/hsrb/cloud"/>
    <remap from="/processed_cloud" to="/hsrb/processed_cloud"/>
    <param name="crop_max_distance" value="$(arg crop)" type="double"/>
    <param name="crop_min_distance" value="-25" type="double"/>
    <param name="voxelSize" value="0.05" type="double"/>
    <param name="baseFrame" value="map" type="string"/>
  </node>

  <node name="segmenter" pkg="space_quantization" type="segmentation_node" args="" output="screen">
    <remap from="cloud" to="/hsrb/processed_cloud"/>
    <remap from="labeled_cloud" to="/hsrb/labeled_cloud"/>
    <remap from="quantized_space" to="/hsrb/quantized_space"/>
    <remap from="codebook" to="/hsrb/codebook"/>
    <param name="nClusters" value="2048" type="int"/>
    <param name="iterations" value="10" type="int"/>
    <param name="method" value="kpp" type="str"/>
    <param name="publish_label_space" value="true" type="bool"/>
    <!-- <param name="visualizeCentroids" value="True" type="bool"/> <param name="visualizeSegCloud" value="false" type="bool"/> <param name="freeThr" value="0.05" type="double"/> -->
  </node>

  <node name="sparseMap" pkg="sparse_mapper" type="sparse_mapper_node" output="screen">
    <remap from="codebook" to="/hsrb/codebook"/>
    <remap from="graph_marker" to="/hsrb/graph_marker"/>
  <param name="free_thr" value="$(arg freeSpace)" type="double"/>
    <param name="graph_file" value="$(find sparse_map_utils)/graphs/$(arg name)Full.txt" type="str"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map head_rgbd_sensor_rgb_frame 100" />

  <!-- 25.9 -->

  <!-- head_rgbd_sensor_rgb_frame -->
  <node name="cloudPublisher" pkg="pcl_ros" type="pcd_to_pointcloud" args="$(find space_quantization)/cloud/$(arg name).pcd " output="screen">
    <remap from="cloud_pcd" to="/hsrb/cloud"/>
    <param name="frame_id" value="head_rgbd_sensor_rgb_frame" type="str"/>
  </node>

</launch>
