<launch>
	<arg name="name" default="takeshiBagPack1"/>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.050"/>

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map"/>

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="3.0"/>
		<param name="filter_ground " value="true" type="bool"/>
		<param name="base_frame_id " value="base_link" type="str"/>

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/hsrb/head_rgbd_sensor/depth_registered/rectified_points"/>

	</node>
</launch>
