<launch>


 <node pkg="surf_recog" type="surf_detector_node" name="surf_detector" output="screen">
   <remap from="/image" to="/hsrb/hand_camera/image_raw" />
   <!-- <param name="image_transport" value="compressed"/> -->
   <param name="inFile" value="/ctrl.xml"/>
   <param name="calib_file" value="/ost.yaml"/>
   <param name="minHessian" value="600"/>
   <param name="good_ratio" value="0.6"/>
   <param name="ransacTHR" value="5"/>
   </node>
</launch>
