<launch>
  <node pkg="tf" type="static_transform_publisher" name="link_broadcaster_map" args="0.0 -0.0 0.0 -0.000, 0, 0, 1 base_link map 100">
    <param name="publish_frequency" value="1.0" type="double"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="link_broadcaster_odom" args="0.0 -0.0 0.0 -0.000, 0, 0, 1 base_link odom 100">
    <param name="publish_frequency" value="1.0" type="double"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find space_quantization)/maps/bioroboticaV.yaml"/>

  <!-- <node name="loc_amcl" pkg="amcl" type="amcl" output="screen" args="scan:=/hsrb/base_scan">
    <param name="odom_alpha1" value="0.4"/>
    <param name="odom_alpha2" value="0.4"/>
    <param name="odom_alpha3" value="0.4"/>
    <param name="odom_alpha4" value="0.4"/>
    <param name="odom_alpha5" value="0.4"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>
    <param name="update_min_a" value="0.1"/>
    <param name="laser_min_range" value="0.3"/>
    <param name="odom_model_type" value="omni-corrected"/>
  </node> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <remap from="cmd_vel" to="/hsrb/command_velocity" />
    <rosparam file="$(find hsrb_nav_pkg)/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find hsrb_nav_pkg)/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find hsrb_nav_pkg)/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find hsrb_nav_pkg)/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find hsrb_nav_pkg)/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find hsrb_nav_pkg)/global_planner_params.yaml" command="load"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner" type="str"/>
  </node>

</launch>
