<launch>

     <group ns="stereo">
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
         <remap from="left/image_rect"       to="/hsrb/head_l_stereo_camera/image_rect_color"/>
          <remap from="right/image_rect"      to="/hsrb/head_r_stereo_camera/image_rect_color"/>
          <remap from="left/camera_info"      to="/hsrb/head_l_stereo_camera/camera_info"/>
        <remap from="right/camera_info"     to="/hsrb/head_r_stereo_camera/camera_info"/>
      </node>

        <!-- Disparity to depth -->
        <node pkg="nodelet" type="nodelet" name="disparity2depth" args="standalone rtabmap_ros/disparity_to_depth"/>

        <!-- Synchronize RGB-D topics -->
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
          <remap from="rgb/image"       to="left/image_rect"/>
          <remap from="depth/image"     to="depth"/>
          <remap from="rgb/camera_info" to="left/camera_info"/>
          <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
          <param name="approx_sync"     type="bool"   value="false"/>
        </node>
      </group>
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <param name="frame_id" type="string" value="base_link"/>

      
      <param name="subscribe_stereo" type="bool" value="true"/>
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="subscribe_scan" type="bool" value="false"/>
      <param name="visual_odometry" type="bool" value="false"/>

      <param name="approx_sync" type="bool" value="true"/>

      <remap from="odom" to="/hsrb/odom"/>

      <param name="queue_size" type="int" value="25"/>

      <!-- RTAB-Map's parameters -->
      <param name="Grid/FromDepth" type="string" value="true"/>
      <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="10"/>
      <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
      <param name="RGBD/ProximityBySpace" type="string" value="true"/>
      <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
      <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
      <param name="Reg/Force3DoF" type="string" value="true"/>
      <param name="Reg/Strategy" type="string" value="1"/>
      <!-- 1=ICP -->
      <param name="Reg/Force3DoF" type="string" value="true"/>
      <param name="Vis/MinInliers" type="string" value="5"/>
      <param name="Vis/InlierDistance" type="string" value="0.1"/>
      <param name="Rtabmap/TimeThr" type="string" value="800"/>
      <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>

      <param name="Grid/RangeMax" value="3.0" type="double"/>
      <param name="Grid/MaxGroundHeight" value="0.1" type="double"/>
      <param name="Grid/MaxObstacleHeight" value="2.0" type="double"/>
      <!-- <param name="cloud_max_depth" value="2.0" type="double"/>
      <param name="Grid/NoiseFiltering_radius" value="0.05"/>
      <param name="cloud_noise_filtering_min_neighbors" value="10"/> -->
    </node>

    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d /home/takeshi/.rtabmap/rtabmap.ini" output="screen">
      <param name="frame_id" type="string" value="base_link"/>
      <param name="subscribe_stereo" type="bool" value="true"/>
      <param name="queue_size" type="int" value="10"/>
      <param name="approx_sync" type="bool" value="true"/>
     <remap from="left/image_rect" to="/hsrb/head_l_stereo_camera/image_rect_color"/>
     <remap from="right/image_rect" to="/hsrb/head_r_stereo_camera/image_rect_color"/>
     <remap from="left/camera_info" to="/hsrb/head_l_stereo_camera/camera_info"/>
     <remap from="right/camera_info" to="/hsrb/head_r_stereo_camera/camera_info"/>
    <remap from="odom" to="/hsrb/odom"/>
    </node> 
  

  
</launch>
