<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="tfSacer" pkg="quantization_utilities" type="tf_saver_node" args="map base_link" output="screen">
    <param name="tf_file" value="$(find quantization_utilities)/tf/text.txt" type="str"/>
  </node>

  <node name="bagger" pkg="rosbag" type="play" args="--clock /home/jesus/rosbags/fiebre_disco_1.bag">
    <!-- <remap from="/hsrb/head_rgbd_sensor/depth_registered/rectified_points" to="/cloud"/> -->
    <remap from="/hardware/point_cloud_man/rgbd_wrt_robot" to="/cloud"/>
    </node>
</launch>
