<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="pcdName" default="xyzTake1.exr"/>
  <arg name="csvName" default="results"/>

  <arg name="simClusters" default="8"/>
  <arg name="maxClusters" default="20"/>
  <arg name="simIterations" default="7"/>
  <arg name="simMethod" default="uniform"/>
  <arg name="simTimes" default="2"/>
  <arg name="clusterStep" default="16"/>
  <arg name="cloudFolder" default="/home/pumas/coyo/"/>
  <arg name="resultsFolder" default="/home/pumas/coyo/spacequantization/results/segmentation/"/>


  <node name="montecarlo" pkg="sparse_map_utils" type="cloudSimulation_node" args="" output="screen">
    <param name="pcd_file" value="$(arg cloudFolder)$(arg pcdName) " type="str"/>
    <param name="csv_file" value="$(arg resultsFolder)$(arg pcdName)" type="str"/>
    <param name="simulations_times" value="$(arg simTimes) " type="int"/>
    <param name="clusters" value="$(arg simClusters)" type="int"/>
    <param name="clusters_step" value="$(arg clusterStep)" type="int"/>
    <param name="max_clusters" value="$(arg maxClusters)" type="int"/>
    <param name="iterations" value="$(arg simIterations)" type="int"/>
    <param name="method" value="$(arg simMethod)" type="str"/>
    <param name="conversion_factor" value="0.0005" type="double"/>
    <remap from="out_cloud" to="/hsrb/cloud"/>
    <remap from="codebook" to="/hsrb/codebook"/>
    <remap from="segmentation_reconfigure" to="/hsrb/segmentation_reconfigure"/>
  </node>

  <node name="segmenter" pkg="space_quantization" type="segmentation_node" args="">
    <remap from="cloud" to="/hsrb/cloud"/>
    <remap from="labeled_cloud" to="/hsrb/labeled_cloud"/>
    <remap from="codebook" to="/hsrb/codebook"/>
    <param name="nClusters" value="$(arg simClusters)" type="int"/>
    <param name="iterations" value="$(arg simIterations)" type="int"/>
    <param name="method" value="$(arg simMethod)" type="str"/>
    <param name="publish_label_space" value="true" type="bool"/>
    <remap from="segmentation_reconfigure" to="/hsrb/segmentation_reconfigure"/>
    <!-- <param name="visualizeCentroids" value="True" type="bool"/> <param name="visualizeSegCloud" value="false" type="bool"/> <param name="freeThr" value="0.05" type="double"/> -->
  </node>
  <node pkg="tf" type="static_transform_publisher" name="tabmap_broadcaster" args="0 0 0 0 0 0 1 map head_rgbd_sensor_rgb_frame 100" />

</launch>
