<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="pcdName" default="nyuCaffe.pgm"/>
  <arg name="csvName" default="results"/>

  <arg name="minClusters" default="16"/>
  <arg name="maxClusters" default="64"/>
  <arg name="simIterations" default="7"/>
  <arg name="simMethod" default="inner"/>
  <arg name="experiments" default="5"/>
  <arg name="clusterStep" default="16"/>
  <arg name="cloudFolder" default="$(find sparse_map_utils)/clouds/test/separator"/>
  <arg name="resultsFolder" default="$(find sparse_map_utils)/results"/>


  <node name="montecarlo" pkg="sparse_map_utils" type="cloudSimulation_node" args="" output="screen">
    <!-- <param name="pcd_file" value="$(arg cloudFolder)$(arg pcdName) " type="str"/> -->
    <param name="pcd_folder" value="$(arg cloudFolder)" type="str"/>
    <param name="csv_folder" value="$(arg resultsFolder)" type="str"/>
    <param name="simulations_times" value="$(arg experiments) " type="int"/>
    <param name="min_clusters" value="$(arg minClusters)" type="int"/>
    <param name="clusters_step" value="$(arg clusterStep)" type="int"/>
    <param name="max_clusters" value="$(arg maxClusters)" type="int"/>
    <param name="iterations" value="$(arg simIterations)" type="int"/>
    <param name="voxel_size" value="-0.1" type="double"/>
    <param name="method" value="$(arg simMethod)" type="str"/>
    <remap from="out_cloud" to="/hsrb/cloud"/>
    <remap from="codebook" to="/hsrb/codebook"/>
    <remap from="segmentation_reconfigure" to="/hsrb/segmentation_reconfigure"/>
  </node>

  <node name="segmenter" pkg="space_quantization" type="segmentation_node" args="" output="screen">
    <remap from="cloud" to="/hsrb/cloud"/>
    <remap from="labeled_cloud" to="/hsrb/labeled_cloud"/>
    <remap from="codebook" to="/hsrb/codebook"/>
    <param name="nClusters" value="$(arg minClusters)" type="int"/>
    <param name="iterations" value="$(arg simIterations)" type="int"/>
    <param name="method" value="$(arg simMethod)" type="str"/>
    <param name="publish_label_space" value="true" type="bool"/>
    <remap from="segmentation_reconfigure" to="/hsrb/segmentation_reconfigure"/>
    <!-- <param name="visualizeCentroids" value="True" type="bool"/> <param name="visualizeSegCloud" value="false" type="bool"/> <param name="freeThr" value="0.05" type="double"/> -->
  </node>
  <node pkg="tf" type="static_transform_publisher" name="tabmap_broadcaster" args="0 0 0 0 0 0 1 map head_rgbd_sensor_rgb_frame 100" />

</launch>
